apiVersion: v1
kind: Service
metadata:
  name: house-price-api
  namespace: house-price
  labels:
    app: house-price-api
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: house-price-api
